body {
  background-color: beige;
}

input,
button {
  padding: 5px;
}

input {
  width: 150px;
}

#table {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.row {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
}

.key,
.value {
  display: inline-block;
}

.key {
  width: 100px;
  font-weight: bold;
}

.value {
  width: 150px;
  text-align: right;
}
